@page "{restaurantId:int}"
@model OdeToFood.Pages.Restaurants.EditModel
@{
}

<form method="post">
    
    <input type="hidden" asp-for="Restaurant.Id" />
    <div class="form-group">
        <label asp-for="Model.Restaurant.Name"></label>
        <input asp-for="Model.Restaurant.Name" />
        <span class="text-danger" asp-validation-for="Model.Restaurant.Name"></span>
    </div>
    <div class="form-group">
        <label asp-for="Model.Restaurant.Location"></label>
        <input asp-for="Model.Restaurant.Location" />
    </div>
    <div class="form-group">
        <label asp-for="Model.Restaurant.Cuisine"></label>
        <select asp-items="Model.Cuisines" asp-for="Model.Restaurant.Cuisine"></select>
    </div>
    <button type="submit">Save</button>
</form>