@page
@model OdeToFood.Pages.Restaurants.FileModel
@{
}
<h1>Restaurants</h1>
<h3>@Model.Message</h3>

<table >
    @foreach(var restaurant in Model.Restaurants){
        <tr>
            <td>
                @restaurant.Name
            </td>
            <td>
                @restaurant.Location
            </td>
            <td>
                @restaurant.Cuisine
            </td>
        </tr>
    }
</table>
